body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
}

.container{
    background-color: #fff;
    box-shadow: 0 0 20px rgba(2, 58, 114, 0.3);
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #AFD3E2;
    border-radius: 8px;
}

.container > h1{
    color: #1D267D;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"]{
    padding: 10px;
    font-size: 18px;
    width: 60%;
    border-radius: 5px;
}

form input[type="submit"]{
    background-color: #19A7CE;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    transition: background-color .3s ease;
}

form input[type="submit"]:hover{
    background-color: #146C94;
}

.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.temperature{
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    color: #080eb9;
}

.description{
    font-size: 24px;
    margin-bottom: 20px;
    color: #070A52;
    text-transform: capitalize;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.details > div{
    padding: 20px;
    background-color: #f1f1f1;
    margin: 10px;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    min-height: 45px;
    font-size: 18px;
    color: #146C94;
    
}

@media (max-width: 768px){
    form{
        flex-direction: column;
    }

    form input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
    }
}
